 <h2>Edit Profile<%= resource_name.to_s.humanize %></h2>
<div class="container">
  <div class="row" style="margin-top:20px">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
      <%= form_for resource, as: resource_name, url: registration_path(resource_name), html: { method: :put } do |f| %>
        <%= devise_error_messages! %>
        <fieldset>
          <h4><%= @admin.email %></h4></br>
          <div class="form-group" >
            <label class="col-lg-6 control-label ">First name:</label>
            <div class="col-lg-6 ">
              <%= f.text_field :first_name, autofocus: true, class: 'form-control input-lg' %>
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-6 control-label ">Last name:</label>
            <div class="col-lg-6 ">
              <%= f.text_field :last_name, autofocus: true, class: 'form-control input-lg' %>
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-6 control-label ">Contact No</label>
            <div class="col-lg-6 ">
             <%= f.text_field :contact_no, autofocus: true, class: 'form-control input-lg' %>
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-6 control-label ">Permanent Address</label>
            <div class="col-lg-6 ">
               <%= f.text_field :address1, autofocus: true, class: 'form-control input-lg' %>
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-6 ">Temporary Adrress</label>
            <div class="col-lg-6 ">
              <%= f.text_field :address2, autofocus: true, class: 'form-control input-lg' %>
            </div>
         </div>
      </fieldset>
      </br>
       <button type="f.submit" class=" btn btn-primary">Update</button>
    <% end %>
  </div>
</div>
</br>
<%= link_to "Back", :back %></br>
</br>