<p id="notice"><%= notice %></p>

  <head>
    <style >
   .row {
    margin-right: -15px;
    margin-left: -15px;
    font-size: 30px;
}
     </style>
  </head>

  <div class="container">
  <div class="row">
    <div class="col-sm-6 text-left"> Users </div>
    <div class="col-sm-6 text-right"><%=link_to "New user", new_admin_user_path %></div><br />
  </div>
  <div class="table-responsive">          
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th>Email</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Contact no.</th>
        <th>Permanent Address</th>
        <th>Temporary Address</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
    <% @user.each do |user| id = user.id %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.contact_no %></td>
        <td><%= user.address1 %></td>
        <td><%= user.address2 %></td>
        <td><%= link_to 'Destroy', admin_user_path(id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  </div>
</div>
<br>
